#class-list-cover{
	width: 0;
	height: 0;
	background-color: black;
	opacity: 0.4;
	position: absolute;
}
#class-list-cover>div{
	color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: 0;
}
.dropdown.user{
	margin-right: 10px;
}
.launcher > .dropdown-menu{
	left: 0;
}
.login-logo{
	margin-bottom: 10px !important;
}
.btn-login{
	width: 140px;
}
#label-error{
	margin: 5px auto;
	font-weight: bold;
}
.label-error{
	color: red;
	display: none;
}
.role-addclassrole{
	margin-top: 20px;
}
.role-hide{
	display: none;
}

body{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}