<extend name="Base/common"/>
<block name="navtab">
	<li class='active'><a href="#">主页</a></li>
</block>
<block name="body">
	<script type="text/javascript">$('#sb-dashboard').addClass('active')</script>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<i class='icon-beer icon-large'></i>
			系统统计
			<div class='panel-tools'>
			</div>
		</div>
		<div class='panel-body'>
			<div class='page-header'>
				<h4>用户统计</h4>
			</div>
			<div class="row">
				<div class="col-xs-3 col-lg-2">
					<h2>班级</h2>
					<p><i class='icon-sitemap'></i> {$page['classcount']}个</p>
				</div><!--/.col-xs-3.col-lg-2-->
				<div class="col-xs-3 col-lg-2">
					<h2>系统人数</h2>
					<p><i class="icon-group"></i> {$page['systemcount']}人</p>
				</div><!--/.col-xs-3.col-lg-2-->
				<div class="col-xs-3 col-lg-2">
					<h2>注册人数</h2>
					<p><i class='icon-user'></i> {$page['usercount']}人</p>
				</div><!--/.col-xs-3.col-lg-2-->
			</div>
			<div class='page-header'>
				<h4>捐款统计</h4>
			</div>
			<div class="row">
				<div class="col-xs-3 col-lg-2">
					<h2>总计捐赠</h2>
					<p><i class="icon-briefcase"></i> 物品 {$page['donation_goods']} 件</p>
					<p><i class="icon-money"></i> 现金 {$page['donation_cash']} 元</p>
				</div><!--/.col-xs-3.col-lg-2-->
				<div class="col-xs-3 col-lg-2">
					<h2>企业捐赠</h2>
					<p><i class="icon-briefcase"></i> 物品 {$page['branch_goods']} 件</p>
					<p><i class="icon-money"></i> 现金 {$page['branch_cash']} 元</p>
				</div><!--/.col-xs-3.col-lg-2-->
				<div class="col-xs-3 col-lg-2">
					<h2>个人捐赠</h2>
					<p><i class="icon-briefcase"></i> 物品 {$page['person_goods']} 件</p>
					<p><i class="icon-money"></i> 现金 {$page['person_cash']} 元</p>
				</div><!--/.col-xs-3.col-lg-2-->
				<div class="col-xs-3 col-lg-2">
					<h2>机构捐赠</h2>
					<p><i class="icon-briefcase"></i> 物品 {$page['company_goods']} 件</p>
					<p><i class="icon-money"></i> 现金 {$page['company_cash']} 元</p>
				</div><!--/.col-xs-3.col-lg-2-->
			</div>
		</div>
	</div>
</block>