<!-- Bootstrap Js -->
<script src="__PUBLIC__/resources/home/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="__PUBLIC__/resources/home/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="__PUBLIC__/resources/home/js/morris/raphael-2.1.0.min.js"></script>
<script src="__PUBLIC__/resources/home/js/morris/morris.js"></script>
<!-- Custom Js -->
<script src="__PUBLIC__/resources/home/js/custom-scripts.js"></script>
<script src="__PUBLIC__/resources/script/global.js"></script>
<script src="//cdn.bootcss.com/jquery.form/3.51/jquery.form.min.js"></script>

<!--[if lte IE 9]>
<script src="__PUBLIC__/resources/bsie/html5shiv.min.js"></script>
<script src="__PUBLIC__/resources/bsie/html5shiv-printshiv.min.js"></script>
<script src="__PUBLIC__/resources/bsie/html5input.js"></script>
<![endif]-->