<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Bootstrap Styles-->
<link href="__PUBLIC__/resources/home/css/bootstrap.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="__PUBLIC__/resources/home/css/font-awesome.css" rel="stylesheet" />
<!-- Morris Chart Styles-->
<link href="__PUBLIC__/resources/home/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<!-- Custom Styles-->
<link href="__PUBLIC__/resources/home/css/custom-styles.css" rel="stylesheet" />
<!-- Google Fonts-->
<link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/resources/style/home.css" rel="stylesheet" />

<link href="__PUBLIC__/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/timer/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script src="__PUBLIC__/resources/home/js/jquery-1.10.2.js"></script>

<title><block name="title">{:C('SITE_NAME')}</block></title>
