<extend name="Base/common"/>
<block name="title">用户设置 - {:C('SITE_NAME')}</block>
<block name="header-title">用户设置 <small>个人资料设置</small></block>
<block name="body">
	<script type="text/javascript">
		switch({:session('user_role')})
		{
			case 1:
			case 2:
				$('#li-class').addClass('active');
				break;
			case 3:
			case 4:
				$('#li-class').hide();
				break;
		}
	</script>
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					资料设置
				</div>
				<div class="panel-body">

					<form class="form-horizontal tab-form" method="post" action="{:U('/Home/User/update_setting')}">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">电子邮箱</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="电子邮箱" readonly="readonly" value="{$userinfo.email}">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">用户名</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="用户名" readonly="readonly" value="{$userinfo.username}">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">性别</label>
							<div class="col-sm-10">
								<label class="radio-inline">
									<input type="radio" name="sex" id="inlineRadio1" value="1" {:($userinfo['sex'] == '1'?'checked="checked"':'')}> 男
								</label>
								<label class="radio-inline">
									<input type="radio" name="sex" id="inlineRadio2" value="2" {:($userinfo['sex'] == '2'?'checked="checked"':'')}> 女
								</label>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">电话号码</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" placeholder="电话号码" name="phone" value="{$userinfo.phone}">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">出生日期</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="出生日期" name="birthday" value="{$userinfo.birthday}">
								(请以0000-00-00为格式，如2015年1月1日则填写2015-01-01)
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">所在城市</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="所在城市" name="city" value="{$userinfo.city}">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">工作单位</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="工作单位" name="workplace" value="{$userinfo.workplace}">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">职务</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="职务" name="positions" value="{$userinfo.positions}">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">职称</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="职称" name="title" value="{$userinfo.title}">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">自主创业</label>
							<div class="col-sm-10">
								<label class="radio-inline">
									<input type="radio" name="startabusiness" id="inlineRadio3" value="1" {:($userinfo['startabusiness'] == '1'?'checked="checked"':'')}> 是
								</label>
								<label class="radio-inline">
									<input type="radio" name="startabusiness" id="inlineRadio4" value="2" {:($userinfo['startabusiness'] == '2'?'checked="checked"':'')}> 否
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">保存资料</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					密码修改
				</div>
				<div class="panel-body">

					<form class="form-horizontal tab-form" method="post" action="{:U('/User/Api/change_password')}">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">原密码</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" name="old" placeholder="账户原本的密码" >
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" name="new" placeholder="所要修改的新密码">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">重复密码</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" name="renew" placeholder="重复输入一次新密码">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">修改密码</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</block>