<extend name="Base/common"/>
<block name="title">班级概述 - {:C('SITE_NAME')}</block>
<block name="header-title">班级概述 <small>这里将描述你的班级的概述</small></block>
<block name="body">
<script type="text/javascript">$('#li-class').addClass('active')</script>
	<div class="row">
		<div class="col-md-8">

	    	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">班级活动</h3>
			  </div>
			  <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-activity">
                        <thead>
                            <tr>
		                        <th>#</th>
		                        <th>活动名称</th>
		                        <th>发起人</th>
		                        <th>审核状态</th>
		                        <th>发起日期</th>
                            </tr>
                        </thead>
                        <tbody>
		                	<foreach name="activity_list" item="vo">
			                	<tr class="odd gradeX">
			                        <td>{$vo.id}</td>
			                        <td>{$vo.activitytitle}</td>
			                        <td>{$vo.realname}</td>
			                        <td>{:$vo['checkidetifier']==0?'未通过':'通过'}</td>
			                        <td>{$vo.createddate}</td>
			                    </tr>
		                    </foreach>
                        </tbody>
                    </table>
                    <a href="{:U('/Home/Class/activity')}" class="pull-right">查看更多 ></a>
			  </div>
			</div>

	    	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">班级相册</h3>
			  </div>
			  <div class="panel-body">
				<div class="row">
					<foreach name="albumlist" item="vo">
						<div class="col-xs-6 col-md-3 album-div">
							<a href="#" class="thumbnail">
								<img src="/{$vo['code1']}sm_{$vo['code2']}" alt="image" >
							</a>
						</div>
					</foreach>
				</div>
				<a href="{:U('/Home/Class/album')}" class="pull-right">查看更多 ></a>
			  </div>
			</div>

	    	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">班级成员</h3>
			  </div>
			  <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-member">
                        <thead>
                            <tr>
		                        <th>姓名</th>
		                        <th>性别</th>
		                        <th>电话</th>
                            </tr>
                        </thead>
                        <tbody>
		                	<foreach name="member_list" item="vo">
			                	<tr class="odd gradeX">
			                        <td>{$vo['realname']}</td>
			                        <td>
			                        	<switch name="vo['sex']" >
			                        		<case value="1">男</case>
			                        		<case value="2">女</case>
			                        	<default />未填
			                        	</switch>
			                        </td>
			                        <td>{$vo['phone']==null?'未填':$vo['phone']}</td>
			                    </tr>
		                    </foreach>
                        </tbody>
                    </table>
                    <a href="{:U('/Home/Class/member')}" class="pull-right">查看更多 ></a>
			  </div>
			</div>

<!-- 		    <div class="page-header class-activity-header">
		      <h1 id="hphoto">班级相册</h1>
		    </div>activity

		    <div class="page-header class-activity-header">
		      <h1 id="hmember">班级成员</h1>
		    </div>activity -->
	    </div>
	    <div class="col-md-4 class-col-right">
	    	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">班级信息</h3>
			  </div>
			  <div class="panel-body">
			    班级名：{$info['classname']}<br/>
			    班主任：{$info['headmaster']}<br/>
			    入学年份：{$info['attendan']}年
			  </div>
			</div>
<!-- 			<div class="list-group">
			  <a href="#hactivity" class="list-group-item">
			    班级活动
			  </a>
			  <a href="#hphoto" class="list-group-item">班级相册
			  </a>
			  <a href="#hmember" class="list-group-item">班级成员
			  </a>
			</div> -->
	    </div>
    </div>
</block>