<extend name="Base/common"/>
<block name="navtab">
  <li class='active'><a href="#">分会管理</a></li>
</block>
<block name="body">
<script type="text/javascript">$('#sb-donation').addClass('active')</script>

	<!-- 增加项目Modal -->
	<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">创建分会</h4>
				</div>
				<form class="form-horizontal" id="fm-addweb" method="post" action="{:U('/Admin/Api/branch_create')}">
					<div class="modal-body">
						
						<div class="form-group">
							<label for="ipt-classname" class="col-sm-2 control-label">分会名称</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ipt-name" name="name" placeholder="分会名称" required>
							</div>
						</div>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-primary" id="btn-edit-submit">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- 修改分会Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">修改分会</h4>
				</div>
				<form class="form-horizontal" id="fm-addweb" method="post" action="{:U('/Admin/Api/branch_change')}">
					<div class="modal-body">
						
						<div class="form-group">
							<label for="ipt-classname" class="col-sm-2 control-label">分会名称</label>
							<div class="col-sm-10">
								<input type="hidden" id="ipt-edit-id" name="id" value="-1" />
								<input type="text" class="form-control" id="ipt-cg-name" name="name" placeholder="分会名称" required>
							</div>
						</div>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-primary" id="btn-edit-submit">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" action="{:U('/Admin/Api/branch_delete')}" enctype="multipart/form-data">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">删除确认</h4>
					</div>
					<div class="modal-body">
						确定要删除该分会吗？<br/>注意：<strong>你只能删除不存在捐赠记录的分会。</strong>
					</div>
					<input type="hidden" name="branchid" id="ipt-branch" value="-1" />
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-danger">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class='panel panel-default'>
		<div class='panel-heading'>
			<i class='icon-table icon-large'></i>
			分会管理
			<div class='panel-tools'>
				<div class='btn-group'>
					<a class='btn' data-toggle="modal" data-target="#addProjectModal">
						<i class='icon-plus'> 新增分会</i>
					</a>
				</div>
			</div>
		</div>
		<div class='panel-body'>
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover" id="dataTables-project">
						<thead>
							<tr>
								<th>#</th>
								<th>分会名称</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<foreach name="branchlist" item="vo">
								<tr class="odd gradeX">
									<td>{$vo.id}</td>
									<td id="tr-{$vo.id}">{$vo.branch_name}</td>
									<td>
										<a href="#" class="a-edit" branch="{$vo.id}"><span class="glyphicon glyphicon-edit"></span> 修改</a>
										<a href="#" class="a-remove" branch="{$vo.id}"><span class="glyphicon glyphicon-remove"></span> 删除</a>
									</td>
								</tr>
							</foreach>
						</tbody>
					</table>
				</div>
		</div>
	</div>
	<script src="//cdn.bootcss.com/datatables/1.10.10/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.bootcss.com/datatables/1.10.10/js/dataTables.bootstrap.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#dataTables-project').dataTable(cn_lang);
			$('.a-remove').click(function(){
				var id = $(this).attr('branch');
				$('#ipt-branch').val(id);
				$('#deleteModal').modal('show');
			});

			$('.a-edit').click(function(){
				var id = $(this).attr('branch');
				$('#ipt-cg-name').val($('#tr-'+id).text());
				$('#ipt-edit-id').val(id);
				$('#editModal').modal('show');
			});
		})
	</script>
</block>