<extend name="Base/common"/>
<block name="navtab">
  <li class='active'><a href="#">捐赠管理</a></li>
</block>
<block name="body">

	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" action="{:U('/Admin/Api/donation_delete')}" enctype="multipart/form-data">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">删除确认</h4>
					</div>
					<div class="modal-body">
						确定要删除这条捐赠记录吗？
					</div>
					<input type="hidden" name="donationid" id="ipt-donationid" value="-1" />
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-danger">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">$('#sb-donation').addClass('active')</script>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<i class='icon-table icon-large'></i>
			捐赠列表
			<div class='panel-tools'>

			</div>
		</div>
		<div class='panel-body'>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover" id="dataTables-project">
					<thead>
						<tr>
							<th>#</th>
							<th>捐赠项目</th>
							<th>捐赠来源</th>
							<th>录入人</th>
							<th>录入时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="donationlist" item="vo">
							<tr class="odd gradeX">
								<td>{$vo.id}</td>
								<td>{$vo['projectname']}</td>
								<td>
									<switch name="vo['donation_source']" >
										<case value="1"><span class="label label-primary">分会</span> {$vo['branch_name']}</case>
										<case value="2"><span class="label label-info">个人</span> {$vo['donationrealname']}({$vo['donationusername']})</case>
										<case value="3"><span class="label label-success">机构</span> {$vo['donationcompany']}</case>
									<default />未知数据
									</switch>	
								</td>
								<td>{$vo['enderrealname']}</td>
								<td>{$vo['createddate']}</td>
								<td>
									<a href="#" class="a-detail" donation="{$vo.id}"><span class="glyphicon glyphicon-th-list"></span> 查看详情</a>
									<a href="#" class="a-remove" donation="{$vo.id}"><span class="glyphicon glyphicon-remove"></span> 删除</a>
								</td>
							</tr>
						</foreach>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="//cdn.bootcss.com/datatables/1.10.10/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.bootcss.com/datatables/1.10.10/js/dataTables.bootstrap.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#dataTables-project').dataTable(cn_lang);
			$('.a-detail').click(function(){
					$('#msg-text').text('正在加载数据...');
					var donationid = $(this).attr('donation');
					$('#msg-text').load("{:U('/Admin/Donation/donation_detail').'?donationid='}" + donationid);
					$('#msgModal').modal('show');
				});

			$('.a-remove').click(function(){
				var donationid = $(this).attr('donation');
				$('#ipt-donationid').val(donationid);
				$('#deleteModal').modal('show');
			});
		})
	</script>
</block>