<extend name="Base/common"/>
<block name="navtab">
	<li class='active'><a href="#">用户数据导入</a></li>
</block>
<block name="body">
	<script type="text/javascript">$('#sb-user').addClass('active')</script>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<i class='icon-table icon-large'></i>
			Excel 数据导入
			<div class='panel-tools'>

			</div>
		</div>
		<div class='panel-body'>
			<if condition="$alert">
				<div class="alert alert-success" role="alert">导入成功！请勿重复操作！</div>
			</if>
			<form id="form-upload" action="{:U('/Admin/Excel/upload')}" method="post">
				<div class="form-group">
					<label for="exampleInputFile">Excel 文件上传 <a href="#">点击下载模板文件</a></label>
					<input type="file" id="file" name="file">
					<p class="help-block">请按模板填写，并且上传为xls格式（Office Excel 2003）的文件</p>
				</div>
				<hr/>
				<button class="btn btn-primary" id="upload-btn" type="submit">确认上传</button>
				<button class="btn btn-warring" type="button" onclick="$('#form-upload')[0].reset();">重置</button>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(function(){
			$('#form-upload').submit(function(e){
				$('#upload-btn').attr('disabled',true);
				$('#upload-btn').text('正在上传');
				if($(this)[0].checkValidity()) {
					$(this).ajaxSubmit({
						success:function(data){
							$('#upload-btn').attr('disabled',false);
							$('#upload-btn').text('确认上传');

							$('#msg-text').html(data);
							$('#msgModal').modal('show');
                        }
                    });
}else document.forms[0].reportValidity();
return false;
});
});
</script>
</block>