<extend name="Base/common"/>
<block name="navtab">
  <li class='active'><a href="#">用户列表</a></li>
</block>
<block name="body">
<script type="text/javascript">$('#sb-user').addClass('active')</script>
	<div class='panel panel-default'>
	  <div class='panel-heading'>
	    <i class='icon-beer icon-large'></i>
	    Hierapolis Rocks!
	    <div class='panel-tools'>
	      <div class='btn-group'>
	        <a class='btn' href='#'>
	          <i class='icon-refresh'></i>
	          Refresh statics
	        </a>
	        <a class='btn' data-toggle='toolbar-tooltip' href='#' title='Toggle'>
	          <i class='icon-chevron-down'></i>
	        </a>
	      </div>
	    </div>
	  </div>
	  <div class='panel-body'>

	  </div>
	</div>
</block>