<extend name="Base/common"/>
<block name="navtab">
	<li class='active'><a href="#">权限管理</a></li>
</block>
<block name="body">
	<script type="text/javascript">$('#sb-user').addClass('active')</script>
	<script type="text/javascript" src="__PUBLIC__/resources/script/admin-role.js"></script>

	<div class="modal fade" id="editWebModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">修改权限</h4>
				</div>
				<div class="modal-body form-horizontal">
					<div class="form-group">
						<label for="ipt-classname" class="col-sm-2 control-label">用户名</label>
						<div class="col-sm-10">
							<label for="ipt-classname" class="col-sm-2 control-label" id="usernameEditModal">NULL</label>
						</div>
					</div>
					<div class="form-group">
						<label for="ipt-headmaster" class="col-sm-2 control-label">真实姓名</label>
						<div class="col-sm-10">
							<label for="ipt-classname" class="col-sm-2 control-label" id="realnameEditModal">NULL</label>
						</div>
					</div>
					<div class="form-group">
						<label for="ipt-headmaster" class="col-sm-2 control-label">修改权限</label>
						<div class="col-sm-10">
							<select class="form-control" id="slt-webrole" name="role_id">
								<option value="-1">请选择...</option>
								<foreach name="rolelist" item="vo">
									<option value="{$vo['id']}">{$vo['name']}</option>
								</foreach>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="btn-edit-submit">提交</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addWebModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">添加用户</h4>
				</div>
				<form class="form-horizontal" id="fm-addweb" method="post" action="{:U('/Admin/Api/op_user_role')}">
					<div class="modal-body">
						
						<div class="form-group">
							<label for="ipt-classname" class="col-sm-2 control-label">用户名</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ipt-username" name="username" placeholder="用户名">
							</div>
						</div>
						<input type="hidden" name="type" value="add">
						<input type="hidden" name="role_id" value="3" />
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-primary" id="btn-edit-submit">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">删除用户</h4>
				</div>
				<form class="form-horizontal" id="fm-delete" method="post" action="{:U('/Admin/Api/delete_role_user')}">
					<div class="modal-body">
						您确定要删除这一项吗？
						<input type="hidden" id="ipt-delete-userid" value="-1" name="user_id" />
						<input type="hidden" id="ipt-delete-roleid" value="-1" name="role_id" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-primary" id="btn-delete">确定</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addClassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">添加用户权限</h4>
				</div>
				<form class="form-horizontal" id="fm-addweb" method="post" action="{:U('/Admin/Api/op_user_role')}">
					<div class="modal-body">
						
						<div class="form-group">
							<div>
								<label for="ipt-classname" class="col-sm-2 control-label">学年</label>
								<div class="col-sm-10">
									<select class="form-control" id="slt-classattendan">
										<option value="-1">请选择...</option>
										<foreach name="attendanlist" item="vo">
											<option value="{$vo['id']}">{$vo['attendan']}</option>
										</foreach>
									</select>
									<div id="info-nullclass" class="label-error">所选学年没有班级数据！</div>
								</div>
							</div>
							<div class="role-hide role-add" id="role-div-class">
								<label for="ipt-classname" class="col-sm-2 control-label role-addclassrole">班级</label>
								<div class="col-sm-10">
									<select class="form-control role-addclassrole" id="slt-classlist">
										<option value="-1">请选择...</option>
										<foreach name="attendanlist" item="vo">
											<option value="{$vo['id']}">{$vo['attendan']}</option>
										</foreach>
									</select>
									<div id="info-nulluser" class="label-error">所选班级没有学生数据！</div>
								</div>
							</div>
							<div class="role-hide role-add" id="role-div-user">
								<label for="ipt-classname" class="col-sm-2 control-label role-addclassrole">姓名</label>
								<div class="col-sm-10">
									<select class="form-control role-addclassrole" id="slt-userlist" name="user_id">
										<option value="-1">请选择...</option>
										<foreach name="attendanlist" item="vo">
											<option value="{$vo['id']}">{$vo['attendan']}</option>
										</foreach>
									</select>
								</div>
							</div>
						</div>
						<input type="hidden" name="type" value="save">
						<input type="hidden" name="role_id" value="2" />
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-primary" id="role-add-submit-btn" disabled="disabled">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class='panel panel-default'>
		<div class='panel-heading'>
			<i class='icon-tasks icon-large'></i>
			网站管理
			<div class='panel-tools'>
				<div class='btn-group'>
					<a class='btn' data-toggle="modal" data-target="#createModal">
						<i class='icon-plus' data-toggle="modal" data-target="#addWebModal"> 添加</i>
					</a>
				</div>
				<div class='badge'><span id="records">{:count($weblist)}</span> 条记录</div>
			</div>
		</div>
		<div class='panel-body' id="panel-website">
			<table class="table table-striped table-bordered table-hover" id="dataTables-activity">
				<thead>
					<tr>
						<th>用户名</th>
						<th>姓名</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="weblist" item="vo">
						<tr class="odd gradeX">
							<td id="web-username-{$vo.user_id}">{$vo.username}</td>
							<td id="web-realname-{$vo.user_id}">{$vo.realname}</td>
							<td userid="{$vo.user_id}">
								<a class="web-delete" href="#" id="web-delete-{$vo.user_id}" role="3">
									<i class="icon-remove"></i> 删除
								</a>
							</td>
						</tr>
					</foreach>
				</tbody>
			</table>
		</div>
	</div>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<i class='icon-group icon-large'></i>
			班级管理
			<div class='panel-tools'>
				<div class='btn-group'>
					<a class='btn' data-toggle="modal" data-target="#addClassModal">
						<i class='icon-plus'> 添加</i>
					</a>
				</div>
				<div class='badge'><span id="records">{:count($classlist)}</span> 条记录</div>
			</div>
		</div>
		<div class='panel-body' id="panel-class">
			<table class="table table-striped table-bordered table-hover" id="dataTables-class">
				<thead>
					<tr>
						<th>姓名</th>
						<th>用户名</th>
						<th>班级</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="classlist" item="vo">
						<tr class="odd gradeX">
							<td>{$vo.realname}</td>
							<td>{:($vo['username'] == null?'未注册':$vo['username'])}</td>
							<td>{$vo.classname}</td>
							<td userid="{$vo.user_id}">
								<a class="web-delete" href="#" id="web-delete-{$vo.user_id}" role="2">
									<i class="icon-remove"></i> 删除
								</a>
							</td>
						</tr>
					</foreach>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Create Modal -->
	<div class="modal fade" id="createTeacherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">新增教职工</h4>
				</div>
				<form class="form-horizontal" method="post" action="{:U('/Admin/Api/add_user')}">
					<input type="hidden" name="classid" value="-1" />
					<input type="hidden" name="isteacher" value="1">
					<div class="modal-body">
						<div class="form-group">
							<label for="ipt-add-realname" class="col-sm-2 control-label">姓名</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ipt-add-realname" name="realname" placeholder="姓名" required>
							</div>
						</div>
						<div class="form-group">
							<label for="ipt-cg-realname" class="col-sm-2 control-label">工号</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ipt-add-username" name="username" placeholder="工号（用户名）" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">性别</label>
							<div class="col-sm-10">
								<label class="radio-inline">
									<input type="radio" name="sex" value="0" checked="checked"> 未知
								</label>
								<label class="radio-inline">
									<input type="radio" name="sex" value="1"> 男
								</label>
								<label class="radio-inline">
									<input type="radio" name="sex" value="2"> 女
								</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-primary" id="btn-change-submit">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- ResetPassword Modal -->
	<div class="modal fade" id="resetpwdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">提示</h4>
				</div>
				<div class="modal-body">
					是否重置用户的密码？<br/>
					重置密码后，用户的密码将变为123456。<br/>
					请注意：你不能重置未注册用户的密码。
				</div>
				<div class="modal-footer">
					<form method="post" action="{:U('/Admin/Api/reset_pwd')}">
						<input type="hidden" id="ipt-reset" name="userid" value="-1" />
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-danger" id="btn-delete">确认</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- Change Modal -->
	<div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">修改用户信息</h4>
				</div>
				<form class="form-horizontal" id="fm-cgclass" method="post" action="{:U('/Admin/Api/save_user')}">
					<div class="modal-body">
						<input type="hidden" id="ipt-cg-id" name="id" value="-1">
						<div class="form-group">
							<label for="ipt-cg-realname" class="col-sm-2 control-label">姓名</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ipt-cg-realname" name="realname" placeholder="姓名" required>
							</div>
						</div>
						<div class="form-group">
							<label for="ipt-cg-realname" class="col-sm-2 control-label">工号</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ipt-cg-username" name="username" placeholder="工号（用户名）" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">性别</label>
							<div class="col-sm-10">
								<label class="radio-inline">
									<input type="radio" name="sex" id="ipt-sex-0" value="0"> 未知
								</label>
								<label class="radio-inline">
									<input type="radio" name="sex" id="ipt-sex-1" value="1"> 男
								</label>
								<label class="radio-inline">
									<input type="radio" name="sex" id="ipt-sex-2" value="2"> 女
								</label>
							</div>
						</div>
						<div class="form-group">
							<label for="ipt-cg-phone" class="col-sm-2 control-label">电话</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ipt-cg-phone" name="phone" placeholder="电话">
							</div>
						</div>
						<div class="form-group">
							<label for="ipt-cg-email" class="col-sm-2 control-label">邮箱</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ipt-cg-email" name="email" placeholder="邮箱">
							</div>
						</div>
						<div class="form-group">
							<label for="ipt-cg-birthday" class="col-sm-2 control-label">生日</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ipt-cg-birthday" name="birthday" placeholder="生日">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-primary" id="btn-change-submit">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class='panel panel-default'>
		<div class='panel-heading'>
			<i class='icon-group icon-large'></i>
			教职工管理
			<div class='panel-tools'>
				<div class='btn-group'>
					<a class='btn' data-toggle="modal" data-target="#createTeacherModal">
						<i class='icon-plus'> 添加</i>
					</a>
				</div>
				<div class='badge'><span id="records">{:count($teacherlist)}</span> 条记录</div>
			</div>
		</div>
		<div class='panel-body' id="panel-class">
			<table class="table table-striped table-bordered table-hover" id="dataTables-teacher">
				<thead>
					<tr>
						<th>姓名</th>
						<th>性别</th>
						<th>工号(用户名)</th>
						<th>电话</th>
						<th>邮箱</th>
						<th>生日</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="teacherlist" item="vo">
						<tr class="odd gradeX">
							<td id="realname-{$vo.user_id}">{$vo.realname}</td>
							<td id="sex-{$vo.user_id}" value="{$vo['sex']}">
								<switch name="vo['sex']" >
									<case value="1">男</case>
									<case value="2">女</case>
									<default />未填
								</switch>
							</td>
							<td id="username-{$vo.user_id}">{:$vo['username']}</td>
							<td id="phone-{$vo.user_id}" value="{$vo['phone']}">{:$vo['phone']==null?'未填':$vo['phone']}</td>
							<td id="email-{$vo.user_id}">{:$vo['email']}</td>
							<td id="birthday-{$vo.user_id}" value="{$vo['birthday']}">{:$vo['birthday']=='0000-00-00'?'未填':substr($vo['birthday'],0,10)}</td>
							<td userid="{$vo.user_id}">
								<a class="a-change" href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 修改信息</a> 
								<a class="a-resetpwd" href="#"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> 重置密码</a> 
								<a class="web-delete" href="#" id="web-delete-{$vo.user_id}" role="4">
									<i class="icon-remove"></i> 删除
								</a>
							</td>
						</tr>
					</foreach>
				</tbody>
			</table>
		</div>
	</div>

	<script src="//cdn.bootcss.com/datatables/1.10.10/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.bootcss.com/datatables/1.10.10/js/dataTables.bootstrap.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#dataTables-class').dataTable(cn_lang);
			$('#dataTables-teacher').dataTable(cn_lang);
			$('.a-change').click(function(){
				var userid = $(this).parent().attr('userid');
				$('#ipt-cg-id').val(userid);
				$('#ipt-cg-realname').val($('#realname-' + userid).text());
				$('#ipt-sex-' + $('#sex-' + userid).attr('value')).attr('checked', true);
				$('#ipt-cg-phone').val($('#phone-' + userid).attr('value'));
				$('#ipt-cg-email').val($('#email-' + userid).text());
				$('#ipt-cg-birthday').val($('#birthday-' + userid).attr('value'));
				$('#ipt-cg-username').val($('#username-' + userid).text());

				$('#changeModal').modal('show');
			});

			$('.a-resetpwd').click(function(){
				var userid = $(this).parent().attr('userid');
				$('#ipt-reset').val(userid);
				$('#resetpwdModal').modal('show');
			});
		});
	</script>
</block>